hand_detection_tracking_demo.py

hand_recognition_google_demo.py

hand_gesture_recognition_model_demo.py

test.py

test2.py

.env

hand_recognition_scrapped.py

hand_visualizer_scrapped.py

gesture_recognizer.task